
body {
  padding: 1em;
}

.pet-container {
  display:flex;
  text-align: center;
}

.pet-tile {
  width: 50%;
}

.pet-detail {
  width: 100%;
}

.pet-pic {
  padding: .5em;
  width: 33%;
  margin: auto;
}
