body {
  font-family: Arial, Helvetica, sans-serif
}

.home{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar-wrapper{
background-color: royalblue;
margin: auto;
color: white;
}

.container {
  padding: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pet-container {
  display:flex;
  text-align: center;
}

.pet-tile {
  padding: 1em;
  margin: auto;
}

.pet-detail {
  width: 100%;
}

.pet-pic {
  padding: .5em;
  width: 75%;
  margin: auto;
}

.is-hidden {
  visibility: hidden;
}

.navbar {
  background-color: #b0d5ff;
  margin-bottom: 10px;
  color: white
}

.links {
  padding-left: 10px;
  padding-right: 10px;
}

.pet-type-tile {
  margin-bottom: 3rem;
  padding: 3em;
}

.adoption-form {
  width:50%;
  margin: auto
}
