
body {
  padding: 1em;
}

.pet-container {
  display:flex;
  text-align: center;
}

.pet-tile {
  width: 50%;
}

.pet-detail {
  width: 100%;
}

.pet-pic {
  padding: .5em;
  width: 33%;
  margin: auto;
}

.is-hidden {
  visibility: hidden;
}

.navbar {
  background-color: #b0d5ff;
  margin-bottom: 10px;
}

.solid-border-bottom{
  border-bottom: 0.25rem solid gray;
}
.links {
  padding-left: 10px;
  padding-right: 10px;
}

img {
  width: 20rem;
}

.pet-type-tile {
  margin-bottom: 3rem;
}

.adoption-form {
  width:50%;
}